name: Reusable Publish (npm)

on:
    workflow_call:
        inputs:
            working-directory:
                required: true
                type: string
            node-version:
                required: false
                type: number
                default: 24
        secrets:
            NPM_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write

        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ inputs.node-version }}
                  registry-url: https://registry.npmjs.org

            - name: Install dependencies
              run: npm ci

            - name: Build
              working-directory: ${{ inputs.working-directory }}
              run: npm run build

            - name: Read package info
              id: pkg
              working-directory: ${{ inputs.working-directory }}
              run: |
                  NAME=$(node -p "require('./package.json').name")
                  VERSION=$(node -p "require('./package.json').version")

                  echo "name=$NAME" >> $GITHUB_OUTPUT
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Publish to npm
              working-directory: ${{ inputs.working-directory }}
              run: npm publish --provenance --access public || echo "Already published"
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Tag release
              working-directory: ${{ inputs.working-directory }}
              run: |
                  git tag "${{ steps.pkg.outputs.name }}@${{ steps.pkg.outputs.version }}" || echo "Tag already exists"
                  git push --tags
