name: Reusable Publish (npm)

on:
    workflow_call:
        inputs:
            package-name:
                required: true
                type: string
            package-full-name:
                required: true
                type: string
            working-directory:
                required: true
                type: string
            node-version:
                required: false
                type: number
                default: 24
        secrets:
            NPM_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write

        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ inputs.node-version }}
                  registry-url: https://registry.npmjs.org
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --filter=${{ inputs.package-name }} --frozen-lockfile

            - name: Build
              working-directory: ${{ inputs.working-directory }}
              run: npm run build

            - name: Read package info
              id: pkg
              working-directory: ${{ inputs.working-directory }}
              run: |
                  VERSION=$(node -p "require('./package.json').version")
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Publish to npm
              working-directory: ${{ inputs.working-directory }}
              run: npm publish --provenance --access public || echo "Already published"
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Tag release
              working-directory: ${{ inputs.working-directory }}
              run: |
                  git tag "${{ inputs.package-full-name }}@${{ steps.pkg.outputs.version }}" || echo "Tag already exists"
                  git push --tags
