name: Reusable Publish (npm)

on:
    workflow_call:
        inputs:
            package-name:
                required: true
                type: string
            package-full-name:
                required: true
                type: string
            working-directory:
                required: true
                type: string
            node-version:
                required: false
                type: number
                default: 24
        secrets:
            NPM_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write

        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ inputs.node-version }}
                  registry-url: https://registry.npmjs.org
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --filter=${{ inputs.package-name }} --frozen-lockfile

            - name: Build packages
              run: pnpm build

            - name: Read package info
              id: pkg
              working-directory: ${{ inputs.working-directory }}
              run: |
                  VERSION=$(node -p "require('./package.json').version")
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Publish to npm
              run: pnpm publish --filter=${{ inputs.package-name }} --provenance --access public || echo "Already published"
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Tag release
              working-directory: ${{ inputs.working-directory }}
              run: |
                  TAG="${{ inputs.package-full-name }}@${{ steps.pkg.outputs.version }}"
                  git tag "$TAG" || echo "Tag already exists"
                  git push origin "$TAG" || echo "Tag already exists"

            - name: Create GitHub Release
              run: |
                  TAG="${{ inputs.package-full-name }}@${{ steps.pkg.outputs.version }}"
                  gh release create "$TAG" \
                    --generate-notes \
                    --title "$TAG" \
                    --draft=false \
                    --prerelease=false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
